
@{
    ViewBag.Title = "Abuot";
}

<h2>Abuot</h2>

<div class="row">
    <div class="col-md-4">
        Name:

    </div>

    <div class="col-md-8">
        Lillemor Eriksson
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        Telefonnummer:
    </div>

    <div class="col-md-8">
        0472-

    </div>

</div>

<div class="row">
    <div class="col-md-4">
        E-mail:

    </div>

    <div class="col-md-8">
        lillemor_eira@@hotmail.com
    </div>

</div>

    