
@{
    ViewBag.Title = "testingForm";
}

<h2>TestingForm</h2>

<form action="@Url.Action("TestingForm", "Home")" method="post">

<label>Ange nummer:</label>
<input type="number" name="multi" value="1" />

<input type="submit" value="Tryck för att få tians gånger tabel av ditt nummer" />

</form>
 
@if (ViewBag.multi != null)
{
    for (int i = 1; i <= 10; i++)
    {
        <p>@i x @ViewBag.multi = @(i* (int)ViewBag.multi )</p> //typcastar heter det (int), det du plockade upp är ett int.

    }
}



