@model List<Lektion_0129_MVC.Models.Car>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            @item.Brand
        </div>

        <div class="col-md-4">
            @item.Model
        </div>

        <div class="col-md-4">
            @item.MaxSpeed
        </div>
    </div>
}